* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}


.cardImage{
  width:  18rem;
  min-height: 100%;
}

.navbar {
  color: white;
  background: black;
}

.cardImage:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
