*{											
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}											
body{										
	font-family: 'Merriweather', serif;
}
h1, h2, h3{
	font-family: 'Roboto', sans-serif;
}
nav	{
	padding: 5px;							
	text-align: center;						
	background-color: lightgray;			
}
nav > ul{
	list-style-type: none;					
}
.nav-link{
	display: inline-block;					
	margin: 0.5rem;							
	padding: 3px;							
}
#landing{
	background-image: url(https://images5.alphacoders.com/112/1123549.jpg);		/*Activity #8a*/
	background-position: center;												/*Activity #8b*/
	background-size: cover;														/*Activity #8c*/
	background-repeat: no-repeat;												/*Activity #8d*/
	text-align: center;															/*Activity #8e*/
	height: 50vh;																/*Activity #8f*/
	color: white;																/*Activity #8g*/
}
#landing > h1{
	padding-top: 2rem;						
	font-size: 3rem;						
}
#landing > h3{
	margin: 1rem;							
}
#landing > button {	
	padding: 0.8rem;						
	background-color: orange;				
	border: 3px solid white;				
	border-radius: 5px;						
}
#hot{
	text-align: center;						
}
#hot > h2{
	margin-top: 1rem;						
	margin-bottom: 1rem;					
}
#hot > ul{
	list-style-type: none;					
}
#hot > ul > li {
	display: inline-block;					
	border: 3px solid orange;				
	border-radius: 5px;						
	padding: 3rem;							
	margin-left: 0.5rem;					
	margin-right: 0.5rem;					
}

/*Extra Code (not included on the activity)*/
footer{
	padding-top: 1rem;
}